#div-filter {
  height: $header-height;
  background-color: transparent;
  margin: 0;
  padding: 20px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;

  a {
    float: left;
    font-size: 13px;
    width: 100%;
    // color: #fff;
  }
}

.ant-dropdown-placement-bottomLeft {
  width: 10%;
  .ant-dropdown-menu-light {
    margin-left: -2px;
    margin-top: 7px;
    width: 100%;
    background-color: cornflowerblue;

    li {
      font-size: 12px;
      background-color: #cadae8;
    }
  }
}
